* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background-color: #fff;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.description {
  font-family: Monospace;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  bottom: 0;
  margin-bottom: 32px;
}

.details p {
  display: inline-block;
  padding: 8px;
}
